/*stylesheet*/

/* vars */
:root {
	--background-color: #fff;
	--body-color:  #111;
}

body {
	margin:  0;
	color: var(--body-color);
	background:  var(--background-color);
}

#wrapper {
	margin:  0 auto;
	max-width:  80%;
}

.project {
  display: flex;
  align-items: center;
  height: 100vh;
}

.project-inner {
	position: relative;
}

.yes {
	position: absolute;
	width: 20%;
	height: 18%;
	bottom: 2%;
	left: 3%;
}

.no {
	position: absolute;
	width: 20%;
	height: 18%;
	bottom: 2%;
	left: 27%;
}

.loadingscreenbutton {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0%;
	left: 0%;
}

.tryagain {
	position: absolute;
	width: 22%;
	height: 20%;
	bottom: 5%;
	left: 72.5%;
}

.buttononingredients {
	position: absolute;
	width: 22%;
	height: 20%;
	bottom: 5%;
	left: 76%;
}

.countdown {
	font-size: 2em;
	position: absolute;
	bottom: 1rem;
	right:  1rem;
	font-family: 'Roboto Mono', monospace;
}

.question {
	width: 37%;
	position: absolute;
	top: 30%;
	left:  43%;
	font-family: 'Roboto', sans-serif;
}

.yes-q {
	position: absolute;
	width: 22%;
	height: 18%;
	top: 2%;
	left: 12%;
}

.no-q {
	position: absolute;
	width: 22%;
	height: 18%;
	bottom: 2%;
	right: 1%;
}